<h2> <%= @contact.first_name %> </h2>
<h2> <%= @contact.last_name %> </h2>
<h3> <%= @contact.email %> </h3>
<h3> <%= @contact.phone_number %> </h3> 

<a href= "/contacts/<%= @contacts.id %>/edit">Edit Recipe</a>
